body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    /* color: #333; Dark grey for better contrast */
    /* background: url('pexels-photo-1167034.png') no-repeat center center fixed; */
    /* background-size: cover; */
}

/* body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7); Increased opacity for better readability
    z-index: -1;
} */

/* header {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
} */

/* ----- nav ----- */

.nav-container{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background: linear-gradient(90deg,#cb41a4, #982176);
}

.navbar li {
    padding-right: 1rem;
}

.navbar li a {
    color: #FAFAFA;
}

/* ----- nav ----- */
#callout{
    background: linear-gradient(90deg,#cb41a4, #982176);
    color: #FAFAFA;
    padding-top: 7%;
    padding-bottom: 5%;
    height: 70vh;
    position: relative;
}

.custom-shape-divider-bottom-1721367110 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 1;
}

.custom-shape-divider-bottom-1721367110 svg {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.custom-shape-divider-bottom-1721367110 .shape-fill {
    fill: #FFFFFF;
}

/* nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; Spread out navigation buttons evenly
    text-align: center;
} */

/* nav ul li {
    display: inline;
} */

/* nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px; Increase padding for better spacing
} */

/* main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px); Adjusting height to exclude header and footer
    padding: 20px;
    text-align: center;
    margin-top: 60px; Offset for fixed header
} */

/* #introduction {
    position: relative;
    width: 61.8%; Golden ratio approximation
    background: rgba(211, 211, 211, 0.85); Light grey with some transparency
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); Adding some shadow for better separation
} */

footer {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 15px;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
}

h1, p {
    margin: 0;
    padding: 0;
}

/* h1 {
    font-size: 2.5em; Large font size for main heading
    margin-bottom: 20px;
    color: #333; Darker text color
}

p {
    font-size: 1.2em; Slightly larger font size for better readability
    line-height: 1.5;
    color: #333; Darker text color
} */
