:root {
    --united-red: 255, 0, 0;
    --united-orange: 255, 127, 0;
    --united-yellow: 255, 255, 0;
    --united-green: 0, 255, 0;
    --united-blue: 0, 0, 255;
    --united-indigo: 75, 0, 130;
    --united-violet: 139, 0, 255;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-decoration: none !important;
}

body,
html {
    height: 100%;
}  

body:not(#bg-white) {
    /* https://images.pexels.com/photos/1167034/pexels-photo-1167034.jpeg */
    background: url("../images/pride-cape.png") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

body>footer {
    position: sticky;
    top: 100vh;
}

/* ----- nav ----- */

.nav-container {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background: linear-gradient(90deg, #F11A7B, #982176);
}

.navbar li a {
    color: #FAFAFA;
}

/* ----- callout ----- */
#callout {
    background: linear-gradient(90deg, #F11A7B, #982176);
    color: #FAFAFA;
    height: 50vh;
    position: relative;
}


.navbar-nav .nav-item .nav-link,
.footer-li a {
    position: relative;
    overflow: hidden;
}

.navbar-nav .nav-item .nav-link:not(.dropdown-toggle)::after,
.footer-li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 3px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.footer-li a::after {
    bottom: -5px;
}

.navbar-nav .nav-item .nav-link:hover::after,
.footer-li a:hover::after {
    transform: scaleX(1);
}

.nav-link.dropdown-item:focus, .nav-link.dropdown-item:hover {
    color: black !important;
}

.navbar-nav .nav-item .nav-link.dropdown-toggle {
    color: white;
    opacity: 1;
}

img.img-fluid.callout-pic {
    max-height: 30vh;
}

.custom-shape-divider-bottom-1721367110 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 1;
}

.custom-shape-divider-bottom-1721367110 svg {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.custom-shape-divider-bottom-1721367110 .shape-fill {
    fill: #FFFFFF;
}

/* ----- footer ----- */
footer {
    background: linear-gradient(90deg, #7D7D7D, #3A3A3A);
    color: #FAFAFA;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-li li {
    display: inline;

}

.footer-li li a {
    text-decoration: none;
    color: #fff;
}

/* ----- contact page ----- */
.form-title h2 {
    color: #006577;
}

.form-title hr {
    background-color: #982176;
    height: 0.2rem;
    width: 100%;
}

.contact-input {
    width: 100%;
    height: 3.5rem;
    border: none;
    outline: none;
    background-color: #fbefd6;
}

.form-section textarea {
    height: 10rem;
}

.contact-input:focus {
    border: 0.2rem solid #ffc953;
}

.contact-input::placeholder {
    padding: 1rem;
    color: #3e001fa8;
}

/* menu modal images */
.modal img {
    max-height: 400px;
    width: auto;
    display: block;
    margin: 0 auto;
}

/* Forms css sign-in sign-out forgot password register */

.form-signup-heading {
    margin-bottom: 1rem;
}

.form-signup {
    max-width: 600px;
    background: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #ced4da;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.form-account-login {
    max-width: 600px;
    background: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #ced4da;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
}


.form-account {
    max-width: 600px;
    background: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #ced4da;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.form-account input[type="email"] {
    width: 75%;
    max-width: 500px;
    min-width: 300px;
}

.form-contact {
    max-width: 600px;
    background: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #ced4da;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.form-contact .form-control {
    max-width: 300px;
    margin: 10px auto;
    display: block;
}

.form-contact .form-control textarea {
    height: 150px;
}

.form-contact .btn {
    width: 50%;
    margin-top: 1rem;
}

/* FLASH MESSAGES + ALERTS */
#alerts {
    display: grid;
    position: fixed;
    top: 76px;
    width: 100%;
    z-index: 9999;
}

#alerts .alert {
    height: 76px;
}

.alert {
    width: 100%;
    z-index: 1002;
    margin-bottom: 2px;
    border-radius: 0;
    box-shadow: 0 2px 9px 0 rgba(var(--black), 0.2);
    transition: all 0.3s ease-in-out;
}

.alert h3 {
    margin: 0;
    padding: 0;
}

.alert-slide {
    opacity: 0;
    transition: all 1s ease-in-out;
    transform: translate3d(0, -20em, 0);
    overflow: hidden;
}

/* OVERLAY */
aside#overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 1;
    visibility: visible;
    backdrop-filter: blur(5px);
    transition: all 0.2s ease-in-out;
    background: linear-gradient(180deg,
        rgba(var(--united-red), 0.1) 0%,
        rgba(var(--united-orange), 0.1) 16.67%,
        rgba(var(--united-yellow), 0.1) 33.33%,
        rgba(var(--united-green), 0.1) 50%,
        rgba(var(--united-blue), 0.1) 66.67%,
        rgba(var(--united-indigo), 0.1) 83.33%,
        rgba(var(--united-violet), 0.1) 100%
    ) !important;
}

aside#overlay.hide {
    opacity: 0;
    visibility: hidden;
}

/* MODALS */
.modal {
    margin: 0;
    backdrop-filter: blur(5px);
    transition: all 0.2s ease-in-out;
    background: linear-gradient(180deg,
        rgba(var(--united-red), 0.1) 0%,
        rgba(var(--united-orange), 0.1) 16.67%,
        rgba(var(--united-yellow), 0.1) 33.33%,
        rgba(var(--united-green), 0.1) 50%,
        rgba(var(--united-blue), 0.1) 66.67%,
        rgba(var(--united-indigo), 0.1) 83.33%,
        rgba(var(--united-violet), 0.1) 100%
    ) !important;
}


@media (min-width: 1025px) {

    .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }

    .card-registration .select-arrow {
        top: 13px;
    }

    .bg-grey {
        background-color: #eae8e8;
    }
}

.navbar-toggler {
    color: white;
}

.navbar-toggler .fa-solid {
    color: white;
}

@page { margin: 2cm }
P { margin-bottom: 0.21cm }
P.western { so-language: en-GB }
H3 { margin-bottom: 0.21cm }
H3.western { so-language: en-GB }
H3.cjk { font-family: "SimSun" }
H3.ctl { font-family: "Arial" }
H4 { margin-bottom: 0.21cm }
H4.western { so-language: en-GB }
H4.cjk { font-family: "SimSun" }
H4.ctl { font-family: "Arial" }
  
li
{
    /* Adjust line-height and padding for vertical alignment */
    line-height: 1.5; /* Adjust line height as needed */
    padding-top: 0.2em; /* Adjust padding as needed */
}
