:root {
    --black: 0, 0, 0; /* #000000 */
    --white: 255, 255, 255; /* #FFFFFF */
    --offwhite: 250, 250, 250; /* #FAFAFA */

    --united-red: 255, 0, 0; /* #FF0000 */
    --united-orange: 255, 127, 0; /* #FF7F00 */
    --united-yellow: 255, 255, 0; /* #FFFF00 */
    --united-green: 0, 255, 0; /* #00FF00 */
    --united-blue: 0, 0, 255; /* #0000FF */
    --united-indigo: 75, 0, 130; /* #4B0082 */
    --united-violet: 139, 0, 255; /* #8B00FF */

    --united-grey-light: 125, 125, 125; /* #7D7D7D */
    --united-grey-dark: 58, 58, 58; /* #3A3A3A */

    --united-primary: 241, 26, 123; /* #F11A7B */
    --united-secondary: 152, 33, 118; /* #982176 */
    --united-tertiary: 0, 101, 119;  /* #006577 */
    --united-quaternary: 255, 201, 83; /* #FFC953 */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", Arial, sans-serif;
    text-decoration: none !important;
}

body,
html {
    height: 100%;
}

body:not(#bg-white) {
    /* https://images.pexels.com/photos/1167034/pexels-photo-1167034.jpeg */
    background: url("../images/pride-cape.png") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

body>footer {
    position: sticky;
    top: 100vh;
}

/* ----- nav ----- */

.nav-container {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background: linear-gradient(90deg, rgba(var(--united-primary)), rgba(var(--united-secondary)));
}

.navbar li a {
    color: rgba(var(--offwhite), 1);
}

/* ----- callout ----- */
#callout {
    background: linear-gradient(90deg, rgba(var(--united-primary)), rgba(var(--united-secondary), 1));
    color: rgba(var(--offwhite), 1);
    height: 50vh;
    position: relative;
}


.navbar-nav .nav-item .nav-link,
.footer-li a {
    position: relative;
    overflow: hidden;
}

.navbar-nav .nav-item .nav-link:not(.dropdown-toggle)::after,
.footer-li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 3px;
    background-color: rgba(var(--white), 1);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.footer-li a::after {
    bottom: -5px;
}

.navbar-nav .nav-item .nav-link:hover::after,
.footer-li a:hover::after {
    transform: scaleX(1);
}

.nav-link.dropdown-item:focus, .nav-link.dropdown-item:hover {
    color: rgba(var(--black), 1) !important;
}

.navbar-nav .nav-item .nav-link.dropdown-toggle {
    color: white;
    opacity: 1;
}

img.img-fluid.callout-pic {
    max-height: 30vh;
}

.custom-shape-divider-bottom-1721367110 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 1;
}

.custom-shape-divider-bottom-1721367110 svg {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.custom-shape-divider-bottom-1721367110 .shape-fill {
    fill: rgba(var(--white), 1);
}

/* ----- footer ----- */
footer {
    background: linear-gradient(90deg, rgba(var(--united-grey-light)), rgba(var(--united-grey-dark), 1));
    color: rgba(var(--offwhite), 1);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-li li {
    display: inline;

}

.footer-li li a {
    text-decoration: none;
    color: rgba(var(--white), 1);
}

/* ----- contact page ----- */
.form-title h2 {
    color: rgba(var(--united-tertiary), 1);
}

.form-title hr {
    background-color: rgba(var(--united-secondary), 1);
    height: 0.2rem;
    width: 100%;
}

.contact-input {
    width: 100%;
    height: 3.5rem;
    border: none;
    outline: none;
    background-color: rgba(var(--united-quaternary), 0.25);
}

.form-section textarea {
    height: 10rem;
}

.contact-input:focus {
    border: 0.2rem solid rgba(var(--united-quaternary), 1);
}

.contact-input::placeholder {
    padding: 1rem;
    color: rgba(var(--united-tertiary), 1);
}

/* menu modal images */
.modal img {
    max-height: 400px;
    width: auto;
    display: block;
    margin: 0 auto;
}

/* Forms css sign-in sign-out forgot password register */

.form-signup-heading {
    margin-bottom: 1rem;
}

.form-signup {
    max-width: 600px;
    background: rgba(var(--white), 1);
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(var(--united-grey-light), 1);
    box-shadow: 0 4px 6px rgba(var(--black), 0.1);
    margin: auto;
}

.form-account-login {
    max-width: 600px;
    background: rgba(var(--white), 1);
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(var(--united-grey-light), 1);
    box-shadow: 0 4px 6px rgba(var(--black), 0.1);
    margin: auto;
}


.form-account {
    max-width: 600px;
    background: rgba(var(--white), 1);
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(var(--united-grey-light), 1);
    box-shadow: 0 4px 6px rgba(var(--black), 0.1);
    margin: auto;
}

.form-account input[type="email"] {
    width: 75%;
    max-width: 500px;
    min-width: 300px;
}

.form-contact {
    max-width: 600px;
    background: rgba(var(--white), 1);
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(var(--united-grey-light), 1);
    box-shadow: 0 4px 6px rgba(var(--black), 0.1);
    margin: 20px auto;
}

.form-contact .form-control {
    max-width: 300px;
    margin: 10px auto;
    display: block;
}

.form-contact .form-control textarea {
    height: 150px;
}

.form-contact .btn {
    width: 50%;
    margin-top: 1rem;
}

/* FLASH MESSAGES + ALERTS */
#alerts {
    display: grid;
    position: fixed;
    top: 76px;
    width: 100%;
    z-index: 9999;
}

#alerts .alert {
    height: 76px;
}

.alert {
    width: 100%;
    z-index: 1002;
    margin-bottom: 2px;
    border-radius: 0;
    box-shadow: 0 2px 9px 0 rgba(var(--black), 0.2);
    transition: all 0.3s ease-in-out;
}

.alert h3 {
    margin: 0;
    padding: 0;
}

.alert-slide {
    opacity: 0;
    transition: all 1s ease-in-out;
    transform: translate3d(0, -20em, 0);
    overflow: hidden;
}

/* OVERLAY */
aside#overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 1;
    visibility: visible;
    backdrop-filter: blur(5px);
    transition: all 0.2s ease-in-out;
    background: linear-gradient(180deg,
        rgba(var(--united-red), 0.1) 0%,
        rgba(var(--united-orange), 0.1) 16.67%,
        rgba(var(--united-yellow), 0.1) 33.33%,
        rgba(var(--united-green), 0.1) 50%,
        rgba(var(--united-blue), 0.1) 66.67%,
        rgba(var(--united-indigo), 0.1) 83.33%,
        rgba(var(--united-violet), 0.1) 100%
    ) !important;
}

aside#overlay.hide {
    opacity: 0;
    visibility: hidden;
}

/* MODALS */
.modal {
    margin: 0;
    backdrop-filter: blur(5px);
    transition: all 0.2s ease-in-out;
    background: linear-gradient(180deg,
        rgba(var(--united-red), 0.1) 0%,
        rgba(var(--united-orange), 0.1) 16.67%,
        rgba(var(--united-yellow), 0.1) 33.33%,
        rgba(var(--united-green), 0.1) 50%,
        rgba(var(--united-blue), 0.1) 66.67%,
        rgba(var(--united-indigo), 0.1) 83.33%,
        rgba(var(--united-violet), 0.1) 100%
    ) !important;
}


@media (min-width: 1025px) {

    .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }

    .card-registration .select-arrow {
        top: 13px;
    }
}

.navbar-toggler {
    color: rgba(var(--white), 1);
}

.navbar-toggler .fa-solid {
    color: rgba(var(--white), 1);
}
