{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row my-5 py-md-5">
        <div class="col-12 col-md-6 text-center">
            <h1 class="text-danger">Access Denied!</h1>
            <br>
            <p class="fs-4">
                Hold up! This area is as exclusive as the VIP section at Pride.
                <br><br>
                You need special access to get through here.
                <br><br>
                If you think this is an error, please contact us for assistance.
                <br><br>
            </p>
            <p>
                <a href="{% url 'index' %}" class="btn btn-lg btn-dark m-1">Home</a>
                <a href="{% url 'events' %}" class="btn btn-lg btn-dark m-1">Events</a>
                <a href="{% url 'contact' %}" class="btn btn-lg btn-dark m-1">Contact</a>
            </p>
            <p>
                <small class="text-danger fw-bold fs-6">ERROR: 403</small>
            </p>
        </div>
        <div class="col-12 col-md-6 text-center">
            <img src="{% static 'images/error.png' %}" alt="Error Page Image" class="img-fluid img-thumbnail rounded shadow">
        </div>
    </div>
</div>
{% endblock %}
