{% extends "base.html" %}
{% load static %}

{% block body %}
    id="bg-white"
{% endblock %}

{% block content %}
    <!-- Callout -->
    <section id="callout">
        <div class="container">
            <div class="row">
                <div class="col-md-6 my-auto text-center">
                    <h2 class="fs-1 fw-bolder">Welcome to United Events</h2>
                    Your one-stop-shop for major Pride event-related information in the UK this summer<br>&#x1F308;&#x1F31E;&#x1F60E;
                    <p>
                        Your one-stop-shop for major Pride event-related information in the UK this summer
                        <br>
                        🌈🌞😎
                    </p>
                    <a href="{% url 'events' %}" class="btn btn-dark">Events</a>
                </div>
                <div class="col-md-6 text-center">
                    <img src="{% static 'images/banner-pic.png' %}" class="img-fluid callout-pic" alt="Pride Banner">
                </div>
            </div>
        </div>
        <div class="custom-shape-divider-bottom-1721367110">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
            </svg>
        </div>
    </section>

    <section class="container my-5">
        <div class="row">
            <div class="col">
                <h5>Connecting <span class="mx-3">|</span> Participating <span class="mx-3">|</span> Supporting <span class="mx-3">|</span> Celebrating</h5>
                <p class="fs-5">
                    Our platform is an empowering place for the LGBTQIA+ community,
                    providing a personalizable space to derive the best individual
                    experience and benefit from major Pride events throughout the UK
                    in Summer 2024. We offer information on external resources, venues,
                    and approved safe spaces, all promoting diversity and inclusion.
                </p>
                <h5>Features</h5>
                <ul>
                    <li>Hub - Personalize your experience to get the most out of Pride events.</li>
                    <li>Resource Links - Access support groups, educational information and safe spaces.</li>
                    <li>Dynamic and Supportive Community - Celebrate diversity, feel seen, heard, and valued.</li>
                    <li>Real-World Impact - Our platform aims to make a positive change in individual lives.</li>
                </ul>
                <p>
                    <em>Join us to experience the vibrant, supportive and dynamic environment that celebrates and empowers the LGBTQIA+ community.</em>
                </p>
            </div>
        </div>
      </section>      

{% endblock %}
