{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/team.css' %}">
{% endblock %}

{% block content %}
<div class="content-box">
    <h2 class="team-title">Our Team</h2>
    <div class="cards-container">
        <!-- Team Member 1 -->
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="{% static 'images/gary.png' %}" alt="Gary" class="img-fluid">
                    <h2>Gary</h2>
                </div>
                <div class="card-back">
                    <h2>Gary Sorohan</h2>
                    <p>Role</p>
                    <p>GitHub</p>
                    <p>LinkedIn</p>
                    <p>Contribution</p>
                </div>
            </div>
        </div>
        <!-- Team Member 2 -->
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="{% static 'images/hannah.jpg' %}" alt="Hannah" class="img-fluid">
                    <h2>Hannah</h2>
                </div>
                <div class="card-back">
                    <h2>Hannah Olbrich</h2>
                    <p>Role: Scrum Master</p>
                    <div>
                    <a href="https://github.com/hannahro15" target="_blank">My GitHub</a>
                    </div>
                    <div>
                    <a href="https://www.linkedin.com/in/hannaholbrich/" target="_blank">My LinkedIn</a>
                    </div>
                    <p>My role in the team was a Scrum Master (My first time!). I created the Kanban board which helped break down the project into manageable tasks and manage them within the team. I also contributed to creating the wireframes and the some of the README. 
                        I also helped ensure the team stayed on track by creating an availability sheet for arranging team meetings, assigning tasks to team members, 
                        and generally keeping things on track by communicating within the channel. I also contributed to checking the functionality across the 
                        website was working as expected, and also pointing out if there were any issues, bugs or gaps that I noticed across the website, or in the code or file/folder structure. </p>
                </div>
            </div>
        </div>
        <!-- Team Member 3 -->
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="{% static 'images/lauren.png' %}g" alt="Lauren" class="img-fluid">
                    <h2>Lauren</h2>
                </div>
                <div class="card-back">
                    <h2>Lauren Yeung</h2>
                    <p>Role</p>
                    <p>GitHub</p>
                    <p>LinkedIn</p>
                    <p>Contribution</p>
                </div>
            </div>
        </div>
        <!-- Team Member 4 -->
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="{% static 'images/sean.png' %}" alt="Sean" class="img-fluid">
                    <h2>Sean</h2>
                </div>
                <div class="card-back">
                    <h2>Sean Lutz</h2>
                    <p>Role</p>
                    <p>GitHub</p>
                    <p>LinkedIn</p>
                    <p>Contribution</p>
                </div>
            </div>
        </div>
        <!-- Team Member 5 -->
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="{% static 'images/tim.png' %}" alt="Tim" class="img-fluid">
                    <h2>Tim</h2>
                </div>
                <div class="card-back">
                    <h2>Tim Nelson</h2>
                    <p>Role</p>
                    <p>GitHub</p>
                    <p>LinkedIn</p>
                    <p>Contribution</p>
                </div>
            </div>
        </div>
        <!-- Team Member 6 -->
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="{% static 'images/trevor.png' %}" alt="Trevor" class="img-fluid">
                    <h2>Trev</h2>
                </div>
                <div class="card-back">
                    <h2>Trevor Leslie</h2>
                    <p>L3 Jr. Dev. pupil</p>
                    <div>
                    <a href="https://github.com/TrevorJamesLeslie" target="_blank">My GitHub</a>
                    </div>
                    <div>
                    <a href="https://www.linkedin.com/in/trevor-leslie-12b4493a/" target="_blank">My LinkedIn</a>
                    </div>
                    <p>Content creation and page layouts [HTML & CSS]</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
