{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/team.css' %}">
{% endblock %}

{% block content %}
    <section class="container my-5 p-3">
        <div class="row bg-secondary-subtle p-3 rounded shadow">
            <div class="col text-center">
                <h2 class="team-title">United Events Team</h2>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
            <!-- Gary -->
            <div class="col mt-5">
                <div class="card h-100 text-center shadow">
                    <img src="{% static 'images/gary.png' %}" class="card-img-top img-fluid" alt="Gary">
                    <div class="card-body">
                        <p class="card-title fs-5 p-0 m-0">
                            Gary Sorohan
                            <br>
                            <small class="fs-6 text-muted">5P Student</small>
                        </p>
                        <p class="card-text">Backend | DB | CRUD</p>
                    </div>
                    <div class="card-footer bg-secondary bg-opacity-25">
                        <a href="https://github.com/Soro82" target="_blank" rel="noopener noreferrer external" class="btn btn-dark badge rounded-pill m-1">
                            <i class="fa-brands fa-github"></i> GitHub
                        </a>
                        <a href="https://www.linkedin.com/in/gary-sorohan" target="_blank" rel="noopener noreferrer external" class="btn btn-primary badge rounded-pill m-1">
                            <i class="fa-brands fa-linkedin"></i> LinkedIn
                        </a>
                    </div>
                </div>
            </div>
            <!-- Hannah -->
            <div class="col mt-5">
                <div class="card h-100 text-center shadow">
                    <!-- ribbon -->
                    <div class="ribbon">
                        <span class="bg-warning">
                            SCRUM MASTER
                        </span>
                    </div>
                    <img src="{% static 'images/hannah.jpg' %}" class="card-img-top img-fluid" alt="Hannah">
                    <div class="card-body">
                        <p class="card-title fs-5 p-0 m-0">
                            Hannah Olbrich
                            <br>
                            <small class="fs-6 text-muted">4P Student</small>
                        </p>
                        <p class="card-text">Scrum | Agile | Wireframes | README</p>
                    </div>
                    <div class="card-footer bg-secondary bg-opacity-25">
                        <a href="https://github.com/hannahro15" target="_blank" rel="noopener noreferrer external" class="btn btn-dark badge rounded-pill m-1">
                            <i class="fa-brands fa-github"></i> GitHub
                        </a>
                        <a href="https://www.linkedin.com/in/hannaholbrich" target="_blank" rel="noopener noreferrer external" class="btn btn-primary badge rounded-pill m-1">
                            <i class="fa-brands fa-linkedin"></i> LinkedIn
                        </a>
                    </div>
                </div>
            </div>
            <!-- Lauren -->
            <div class="col mt-5">
                <div class="card h-100 text-center shadow">
                    <img src="{% static 'images/lauren.png' %}" class="card-img-top img-fluid" alt="Lauren">
                    <div class="card-body">
                        <p class="card-title fs-5 p-0 m-0">
                            Lauren Yeung
                            <br>
                            <small class="fs-6 text-muted">4P Student</small>
                        </p>
                        <p class="card-text">Frontend | Design | Contact</p>
                    </div>
                    <div class="card-footer bg-secondary bg-opacity-25">
                        <a href="https://github.com/Lauren21717" target="_blank" rel="noopener noreferrer external" class="btn btn-dark badge rounded-pill m-1">
                            <i class="fa-brands fa-github"></i> GitHub
                        </a>
                        <a href="https://www.linkedin.com/in/lauren-yeung-553134262" target="_blank" rel="noopener noreferrer external" class="btn btn-primary badge rounded-pill m-1">
                            <i class="fa-brands fa-linkedin"></i> LinkedIn
                        </a>
                    </div>
                </div>
            </div>
            <!-- Sean -->
            <div class="col mt-5">
                <div class="card h-100 text-center shadow">
                    <img src="{% static 'images/sean.png' %}" class="card-img-top img-fluid" alt="Sean">
                    <div class="card-body">
                        <p class="card-title fs-5 p-0 m-0">
                            Sean Lutz
                            <br>
                            <small class="fs-6 text-muted">5P Alumni</small>
                        </p>
                        <p class="card-text">Backend | Authentication | Setup</p>
                    </div>
                    <div class="card-footer bg-secondary bg-opacity-25">
                        <a href="https://github.com/primarypigments" target="_blank" rel="noopener noreferrer external" class="btn btn-dark badge rounded-pill m-1">
                            <i class="fa-brands fa-github"></i> GitHub
                        </a>
                    </div>
                </div>
            </div>
            <!-- Tim -->
            <div class="col mt-5">
                <div class="card h-100 text-center shadow">
                    <img src="{% static 'images/tim.png' %}" class="card-img-top img-fluid" alt="Tim">
                    <div class="card-body">
                        <p class="card-title fs-5 p-0 m-0">
                            Tim Nelson
                            <br>
                            <small class="fs-6 text-muted">Mentor / Alumni</small>
                        </p>
                        <p class="card-text">Backend | DB | Calendar | Git Support</p>
                    </div>
                    <div class="card-footer bg-secondary bg-opacity-25">
                        <a href="https://github.com/TravelTimN" target="_blank" rel="noopener noreferrer external" class="btn btn-dark badge rounded-pill m-1">
                            <i class="fa-brands fa-github"></i> GitHub
                        </a>
                        <a href="https://www.linkedin.com/in/travel-tim-nelson" target="_blank" rel="noopener noreferrer external" class="btn btn-primary badge rounded-pill m-1">
                            <i class="fa-brands fa-linkedin"></i> LinkedIn
                        </a>
                    </div>
                </div>
            </div>
            <!-- Trevor -->
            <div class="col mt-5">
                <div class="card h-100 text-center shadow">
                    <img src="{% static 'images/trevor.png' %}" class="card-img-top img-fluid" alt="Trevor">
                    <div class="card-body">
                        <p class="card-title fs-5 p-0 m-0">
                            Trevor Leslie
                            <br>
                            <small class="fs-6 text-muted">L3 Student</small>
                        </p>
                        <p class="card-text">Frontend | Content | Layouts</p>
                    </div>
                    <div class="card-footer bg-secondary bg-opacity-25">
                        <a href="https://github.com/TrevorJamesLeslie" target="_blank" rel="noopener noreferrer external" class="btn btn-dark badge rounded-pill m-1">
                            <i class="fa-brands fa-github"></i> GitHub
                        </a>
                        <a href="https://www.linkedin.com/in/trevor-leslie-12b4493a" target="_blank" rel="noopener noreferrer external" class="btn btn-primary badge rounded-pill m-1">
                            <i class="fa-brands fa-linkedin"></i> LinkedIn
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
