{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container my-5">
	<div class="form-contact shadow">
		<h2 class="form-contact-heading">We'd Love to Hear From You!</h2>
		<form method="post" action="{% url 'contact' %}" class="needs-validation" novalidate>
			{% csrf_token %}
			{{ form|crispy }}
			<div class="mt-4 d-flex justify-content-center">
				<button type="submit" class="btn btn-dark btn-block btn-lg">Send Message</button>
			</div>
		</form>
	</div>
</div>

{% endblock content %}